.container
  .row.p-2
    .col-10
      %h4 #{@category} in Kuala Lumpur
    .col-2.txt-small.pt-2 Showing 1-30 of 3442
  .row
    .col-12
      %nav
        %ol.breadcrumb
          %li.breadcrumb-item
            %a(href="#") Kuala Lumpur
          %li.breadcrumb-item.active
            %a(href="#")= @category

  - @businesses.each do |business|
    .row.border-top.p-3
      .col-2
        %img(src="http://via.placeholder.com/150x150")
      .col-8
        %h3
          = link_to business.full_name, business_path(business)
        %p Rating <span>4.5</span> / 5 with <span>6</span> reviews.
        %span.badge.badge-secondary= business.categories

      .col-2
        %address.txt-small
          = business.address
  %nav
    %ul.pagination
      %li.page-item
        %a.page-link(href="#") 
          %span &laquo;
      %li.page-item
        %a.page-link(href="#") 1
      %li.page-item
        %a.page-link(href="#") 2
      %li.page-item
        %a.page-link(href="#") 3
      %li.page-item
        %a.page-link(href="#") 4
      %li.page-item
        %a.page-link(href="#")
          %span &raquo;
